.sliderElements, .sliderElements figure, .sliderControls {
    margin: 0 auto;
}

.sliderElements:after {
    content: ".";
    display: block;
    height: 0.1px;
    clear: both;
    visibility: hidden;
    font-size: 0;
    overflow: hidden;
}

.slider {
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    overflow-x: hidden;
}

.sliderElements {
    list-style: none;
    position: relative;
    left: 0;
    width: 400%;
    padding: 0;
    -webkit-transition: left .8s ease-in-out;
    -moz-transition: left .8s ease-in-out;
    -o-transition: left .8s ease-in-out;
    transition: left .8s ease-in-out;
}

.sliderElements > li {
    float: left;
    width: 25%;
    position: relative;
}

#slide02:checked ~ .sliderElements {
    left: -100%;
}

#slide03:checked ~ .sliderElements {
    left: -200%;
}

#slide04:checked ~ .sliderElements {
    left: -300%;
}

.slider input {
    position: absolute;
    left: -99999px;
}

.sliderControls {
    text-align: center;
    padding: 0;
}

.sliderControls li {
    display: inline-block;
}

.sliderControls label {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    background: #333;
    color: #333;
}

.sliderControls label:hover,
#slide01:checked ~ .sliderControls label[for="slide01"],
#slide02:checked ~ .sliderControls label[for="slide02"],
#slide03:checked ~ .sliderControls label[for="slide03"],
#slide04:checked ~ .sliderControls label[for="slide04"] {
    background: red;
    color: red;
}

.heading {
  padding-left: 1.5em;
  }

.text {
    text-align: justify;
    padding-left: 1.8em;
    padding-right: 1.8em;
 }

.videocontainer {
    position: relative;
    padding-bottom: 45%;
    height: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.videocontainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

#techndaten {
    font-size: 1.2em;
		border: 0.3em solid #333;
    border-collapse: collapse;
    margin: 0 auto;
}

#techndaten th {
		background-color: #333;
		color: white;
    text-transform: uppercase;
}

#techndaten th, #techndaten td {
		padding: 0.3em;
	  text-align: right;
}

#techndaten tbody td {
		border-bottom: 0.1em solid #333;
}

#techndaten th:first-child, #techndaten td:first-child {
	  text-align: left;
}

#nachoben {
    width: 2.5em;
    height: auto;
    margin: 0 auto;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "Calibri", sans-serif;
    font-size: 100%;
		color: #333;
}

iframe, img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

nav {
    font-size: 2em;
}

@media screen and (max-width: 64em) {
    nav {
          font-size: 1.7em;
    }
}

@media screen and (max-width: 50em) {
    nav {
          font-size: 1.4em;
    }
}

@media screen and (max-width: 30em) {
    nav {
          font-size: 1.4em;
    }
}

nav ul {
    text-align: center;
    list-style-type: none;
    border-bottom: 0.1em solid #333;
    border-top: 0.1em solid #333;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #333;
    padding: 0.5em 1em;
    display: inline-block;
    text-transform: uppercase;
}

nav ul li.active a, nav ul li a:hover {
    color: red;
}

header h1 {
    font-size: 3em;
    text-align: center;
}

@media screen and (max-width: 64em) {
    h1 {
          font-size: 2.5em;
    }
}

@media screen and (max-width: 50em) {
    h1 {
          font-size: 2em;
    }
}

@media screen and (max-width: 30em) {
    h1 {
          font-size: 1.5em;
    }
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 0.8em;
}

@media screen and (max-width: 64em) {
    body, table {
            font-size: 90%;
    }
}

@media screen and (max-width: 50em) {
    body {
            font-size: 75%;
    }
}

@media screen and (max-width: 30em) {
    body {
            font-size: 50%;
    }
}
